body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    --btn-font-size: 16px;
    --border-radius-size: 4px;
    --page-margin-size: 20px;
}

header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}


/* 横方向レイアウト */

.left-right-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ボタン共通スタイル */

.button-style-base {
    /* 背景色を透明にする */
    background-color: transparent;
    /* 黒い1ピクセルのボーダーを設定する */
    border: 1px solid black;
    /* ボーダーの角を丸める */
    border-radius: var(--border-radius-size);
    /* 内側に5ピクセルの上下パディングと10ピクセルの左右パディングを追加する */
    padding: 5px 10px;
    /* フォントサイズを設定する */
    font-size: var(--btn-font-size);
    /* テキストの色を黒にする */
    color: black;
    /* デフォルトのシャドウを削除する */
    box-shadow: none;
    /* マウスカーソルをポインターにする */
    cursor: pointer;
    /* 全てのプロパティに対する0.2秒の平滑な遷移効果 */
    transition: all 0.2s ease;
    /* 改行しない */
    white-space: nowrap;
}


/* ボタン共通スタイル : マウスオーバー時のスタイル */

.button-style-base:hover {
    /* 背景色を浅黄色にする */
    background-color: ivory;
    /* ボーダーの色を青に変更する */
    border-color: skyblue;
    /* 青い光の効果を追加する */
    box-shadow: 0 0 3px skyblue;
}


/* ボタン共通スタイル 追加 : 赤色 */

.button-style-red {
    color: red;
    border-color: red;
}


/* ボタン共通スタイル 追加 : 赤色 : マウスオーバー時のスタイル */

.button-style-red:hover {
    /* 背景色をピンク色にする */
    background-color: lavenderblush;
    /* ボーダーの色を赤色に変更する */
    border-color: red;
    /* 光の効果を追加 */
    box-shadow: 0 0 3px red;
}


/* 画面下部 */

#bottom-div {
    margin: var(--page-margin-size);
}


/* 印刷ボタン */

#bottom-div>#export-button {
    /* 固定幅のブロックレベル要素の水平中央揃え */
    /* display: block; */
    /* margin: 0 auto; */
}